@use '/src/styles/variables.module.scss';


.tab__button__active{
    color: variables.$button;
    
    :active{
        color: variables.$button;

    }
}

.h4Style{
    font-size: 1.5rem;
    padding-bottom: 10px;
}