
.serviceContainer{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.servicesTitle{
    font-size: 1.2rem;
    .headerStyle{
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 1.5rem;
    }
    

}
//tofix?


