//Define color variables here. 
//-------------Primary Theme ------------------
$colorPrimary: #FAFAFA;
$primary_text: #333333; 
$header: #000000;
$primary: #1E90FF ;
$secondary: #FFA07A ;
$button: #FFFFFF;
$whiteText: #fff;
$links: #1E90FF ;
$subcolor1: #32CD32;
$navigation: #006666;
$subnavigation : #1C86EE;

//------------Secondary Theme (Light/Dark Mode) -------------------

//Light Mode
$lightPrimary: #f5f5f5;
$lightModesub: #00AEA8;
$lightModeText: #333333;
$lightModeTextsub: #777777;
$primaryBlack : black;

//Dark mode
$darkPrimary: #333333;
$darkModeSub: #00AEA8;
$darkModeText: #f5f5f5;
$darkModeTextsub: #CCCCCC;

.title {
    color: $colorPrimary; 
}

body.light-mode {
    background-color: $lightPrimary;
    color: $lightModeText;
    .title {
        color: $primaryBlack;
    }
    .sub-text {
        color: $lightModeTextsub;
    }
}

body.dark-mode {
    background-color: $darkPrimary;
    color: $darkModeText;
    .title {
        color: $whiteText;
    }
    .sub-text {
        color: $darkModeTextsub;
    }
}
